.profile-image {
    width: 346px;
    margin-right: 1em;
}

.profile-button {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    align-items: center;
    background-color: black;
    border: 1px solid #e0e0e0;
    color: white;
    cursor: pointer;
    padding: 1.75em;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 10vw;
}

.profile-button:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.profile-ctn {
    margin-left: 20rem;
    margin-right: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 2em;
}

@media (max-width: 768px) {
    .profile-ctn {
        flex-direction: column;
    }
    .profile-button {
        width: 20vw;
    }
    .profile-image {
        margin-bottom: 1em;
    }
}